@import '../../routes/App.scss';

.contenedor {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}
.image--container{ 
  display: flex;
  justify-content: center;
  flex-direction: column;
  .hero-tracker {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #0085FF;
    margin: 0 0 0 100px;
  }
}


.formulario {
  min-width: 320px;
  margin-top: 50px;
  width: 30%;
  // background: #fff;
  border-radius: 5px;
  padding: 20px;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.formulario>div {
  margin-bottom: 20px;
  position: relative;
}

.formulario label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.formulario input,
.formulario textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 5px;
  color: #1f1f1f;
  text-indent: 27px;
}

.user-icon, .email-icon, .password-icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 9px;
  top: 32px;
}
.user-icon {
  background: url(./images/user-icon.svg);
}
.email-icon {
  background: url(./images/email-icon.svg);
}
.password-icon {
  background: url(./images/password-icon.svg);
}



.formulario input:focus {
  outline: none;
  border: 2px solid #0085FF;
}

.formulario .error {
  color: $failure;
  font-weight: 600;
  font-size: 12px;
}
.formulario .success {
  color: $success;
  font-weight: 600;
  font-size: 12px;
}

.formulario .registered-message {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  margin: 0 0 16px;
}

.formulario button[type="submit"] {
  display: block;
  background: #0085FF;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: .3s ease all;
  margin: 50px 0 0 0;
  &:disabled {
    background: #76B9F5;
  }
  &:active {
    background: #005eb6;
  }
}


.formulario .exito {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  color: #02a802;
}

.formulario input[type="radio"] {
  width: auto;
}