.film-card-container{
    display: flex;
    background-color: white;
    border-radius: 8px;
    width: 400px;
}

.film-card-image{
    text-align: center;
}

.film-card-image img{
    overflow: hidden;
    height: 220px;
    margin-bottom: 1rem;
    background: #E5E5E5;
    border-radius: 8px;
    box-shadow: 0px 0px 15px -5px;
}

.film-card-image img:hover{
    transform: scale(1.01);
}

.film-card-title{
    align-items: center;
}

.film-card-body{
    margin-bottom: 4rem;
}