.score-rating-container {
    align-items: center;
}

.score-rating-container p{
    font-size: 13px;
    line-height: 18px;
    color: #111111;
    text-align: center;
}

.score-user-content{
    margin-top: 1rem;
}