@import '../../routes/App.scss';

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.menuContainer {
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: $primary-color--light-theme;
    display: flex;
    z-index: 2;
}
.menu__openMenuButton {
    display: inline;
    width: 35px;
    height: 35px;
    margin: 15px 10px;
    &:hover{
        outline: 2.5px solid rgba(230, 248, 255, 0.781);
        background-color: $secondary-color--light-theme;
        border-radius: 10px;
    }
    &:active {
        width: 38px;
        height: 38px;
    }
}
.menuContainer nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-block-start: 60px;
    padding: 0 35px;
    background-color: $secondary-color--light-theme;
    & li {
        margin-block-start: 35px;
        padding-block-end: 10px;
        & a,
        .logout-button{
            font-size: $menu__font-size;
            color: $base-color--light-theme;
            text-decoration: none;
            padding-block-end: 5px;
            border-block-end: 3px solid $base-color--light-theme;
            & img {
                width: 30px;
                height: 30px;
                margin-inline-end: 10px;
            }
            &:hover ,
            .logout-button:hover {
                background-color: $primary-color--light-theme;
                border-radius: 8px;
                padding: 10px 15px;
                cursor: pointer;
            }
        }
        &:first-child {
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(244, 244, 244, 0.85);
            box-shadow: 8px 10px rgba(244, 244, 244, 0.22);
            min-width: 160px;
            max-width: 250px; 
            margin: 20px auto 0 auto;
        }
    }
}

@media (min-width: 600px) {
    .menuContainer nav ul {
        width: 40%;
        padding: 0 35px 0 20px;
        max-width: 300px;
        & li:first-child {
            margin-block-start: 20px;
        }
    }
    .menu__openMenuButton {margin-inline-start: 20px;}
}