@import '../../routes/App.scss';

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.menuContainer {
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: $primary-color--light-theme;
    display: flex;
}
.menu__openMenuButton {
    display: inline;
    width: 35px;
    height: 35px;
    padding: 6px;
    margin: 10px;
    z-index: 5;
}
.menuContainer nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-block-start: 60px;
    padding: 0 40px;
    background-color: $secondary-color--light-theme;
    & li {
        margin-block-start: 35px;
        & a{
            font-size: $menu__font-size;
            color: $base-color--light-theme;
            text-decoration: none;
            border-block-end: 3px solid $base-color--light-theme;
            padding-block-end: 5px;
            &:active {
                color: $movie__watched--active;
                border-block-end: 3px solid $movie__watched--active;
            }
        }
        &:first-child {
            color: $base-color--light-theme;
            font-size: $menu__title;
            cursor: pointer;
            text-align: center;
        }
        & .active {
            color: $movie__watched--active;
            border-block-end: 3px solid $movie__watched--active;
        }
    }
}

@media (min-width: 550px) {
    .menuContainer nav ul {
        width: 35%;
        max-width: 250px;
    }
}