@import "../../routes/css/global-variables.scss";

.film-component {
  // min-width: 300px;
  // max-width: 800px;
  background: $base-color--light-theme;
  height: 100%;

  // min-height: 100vh;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    color: #3472de;
    font-size: 12px;
    font-weight: 500;
    margin: 3px 0 0;
    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: #3472de;
    }
    svg {
      width: 12px;
      height: 12px;
      transform: rotate(90deg);
      padding-left: 4px;
    }
  }
}
.film-title-container {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // max-width: 550px;
  position: relative;
  margin: 10px 0;

  &::after {
    content: "";
    width: calc(100% - 50px);
    height: 2px;
    position: absolute;
    background-color: #d3d3d3;
    bottom: 18px;
    left: 15px;
  }

  h1 {
    margin: 5px;
    font-size: 2.8rem;
    color: #474747;

    padding: 0 12px;
  }
  p {
    font-size: 12px;
    font-weight: 500;
    color: #474747;
    margin: 10px 20px 0;
  }
}

.film-video_container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  height: fit-content;
  iframe {
    width: 100%;
    height: 300px;
    max-height: 600px;
  }
}

.film-image img {
  // overflow: hidden;
  // height: 180px;
  width: 122px;
  // margin-bottom: 1rem;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0px 8px 18px 6px rgba(109, 127, 224, 0.25);
  left: 22px;
  bottom: 10px;
}

.film-description-container {
  color: #474747;
  position: relative;

  p {
    margin: 1.1em;
    font-size: 16px;
    text-align: left;
    padding: 6px;
    overflow: hidden;
    height: 100px;
    // text-overflow: ellipsis;
    // white-space: nowrap;
  }
  // &::after {
  //   content: "read more...";
  //   line-height: 30px;
  //   font-size: 16px;
  //   color: #474747;
  //   // width: 30px;
  //   height: 30px;
  //   bottom: -9px;
  //   left: 25px;
  //   // background-color: black;
  //   position: absolute;
  // }
}

.film-interactions-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px 20px 0;
  position: relative;
  height: 100px;
  // max-width: 320px;
  &:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #d3d3d3;
    top: 37px;
    left: 5px;
  }
  // width: auto;
  // &::after {
  //   content: "";
  //   width: calc(100% - 50px);
  //   height: 2px;
  //   background-color: #d3d3d3;
  //   position: absolute;
  //   bottom: 10px;
  // }
}

.film-credits-container {
  position: relative;
  color: #474747;
  width: fit-content;

  li {
    font-size: 14px;
    margin: 10px 5px;
    padding: 5px 25px;
    position: relative;
    // &::after {
    //     content: "";
    //     width: calc(100% - 50px);
    //     height: 2px;
    //     background-color: #d3d3d3;
    //     position: absolute;
    //     bottom: 58px;
    //     left: 25px;
    //   }
  }
  .separator {
    &::before {
      content: "";
      width: calc(100% - 50px);
      height: 2px;
      background-color: #d3d3d3;
      position: absolute;
      top: -6px;
      left: 25px;
    }
  }

  h3 {
    font-size: 15px;
    font-weight: 600;
    margin: 10px 25px;
    cursor: pointer;
  }
  svg {
    // background-color: black;
    margin: 0 0 -2px;
    transform: rotate(180deg);
  }
  .arrow-rotate {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 700px) {
  .film-title-container {
    h1 {
      font-size: 3.4rem;
    }
  }
  .film-description-container {
    p {
      font-size: 2rem;
    }
  }

  .film-video_container {
    iframe {
      height: 500px;
      width: 800px;
    }
    .film-image {
      img {
        width: auto;
        // position: static;
      }
    }
  }
  .film-interactions-container {
    width: 73%;
    justify-content: left;

    div {
      margin: 0 10px 0 4px;
    }
  }
}
@media (min-width: 1000px) {
  .film-component {
    align-items: center;
    justify-content: center;
  }
  .film-video_container {
    justify-content: left;
    padding: 0 20px;
    height: 50vh;
    width: 75%;
    iframe {
      width: 70%;
      height: 95%;
    }
  }
  .film-image {
    height: 500px;
    img {
      width: 600px;
      height: 90%;
      position: static;
      right: 40px;
      margin-left: 40px;
    }
  }
  .film-description-container {
    width: 76%;
    p {
      width: 100%;
    }
  }
  .film-title-container {
    width: 75%;
    // max-width: 1127px;
  }
  .film-interactions-container {
    width: 73%;
    justify-content: left;
    div {
      margin: 0 10px 0 4px;
    }
  }
}
