@import '../../routes/App.scss';

.profile-header {
    height: 60px;
    width: 100vw;
    background-color: $primary-color--light-theme;
}
.profilePageContainer {
    height: 100vh;
    background-color: $primary-color--light-theme;
}

.profile-main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    & .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        & picture img {
            height: 220px;
            width: 220px;
        }
        & h1 {
            color: $base-color--light-theme;
            font-weight: 500;
        }
    }
    // Link options (Scores, Settings)
    & .options {
        display: flex;
        flex-direction: column;
        align-items: center;
        & div {
            border-block-end: 1px solid $base-color--light-theme;
            margin-block-end: 10px;
            & a, & button {
                display: flex;
                font-weight: 700;
                color: $base-color--light-theme;
                font-size: $menu__title;
                text-decoration: none;
                & img {
                    width: 35px;
                    height: 35px;
                    margin-inline-start: 12px;
                }
                &:hover {
                    color:peachpuff;
                }
            }
        }
        & .config {
            margin: 8px;
            & button {
            border-radius: 10px;
            display: flex;
            font-weight: 700;
            color: $base-color--light-theme;
            background-color: $secondary-color--light-theme;
            font-size: 2rem;
            text-decoration: none;
            margin-block-end: 10px;
            padding: 10px;
                &:hover {
                    color:peachpuff;
                }
            }
        }
    }

    // PROGRESS BAR

    & .progressBar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 150px;
        & label {
            font-size: 1.8rem;
            color: $base-color--light-theme;
            margin-block-end: 10px;
            border-block-end: 1px solid $base-color--light-theme;
            cursor: pointer;
            font-weight: 600;
        }
        & span {
            color: $base-color--light-theme;
            font-size: 2rem;
            margin-block-start: 10px;
        }
        & progress[value] {
            /* Reset the default appearance */
            -webkit-appearance: none;
            appearance: none;
            width: 300px;
            height: 50px;
            cursor: pointer;
            &::-webkit-progress-value {
                background-color: $movie__watched--active;
                border-radius: 80px;
            }
            &::-webkit-progress-bar {
                background-color: $base-color--light-theme;
                border: 4px solid $base-color--light-theme;
                border-radius: 80px;
                padding-inline-start: 5px;
                padding-inline-end: 5px;
            }
        }
        & a {
            display: none;
        }
    }
}


.modalBackground {
    background: rgba(32,35,41,.8);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Config Modal */
    & .configModal {
        background-color: $base-color--light-theme;
        border-radius: 10px;
        color: #111;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 30px 30px 14px 30px;
        width: 90%;
        height: 35%;
        max-width: 420px;
        & .closeModalButton {
            position: absolute;
            top: 12px;
            right: 12px;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
        & .chConf {
            &__Msg {
                font-size: 1.8rem;
                text-align: center;
            }
            &__Options {
                display: flex;
                align-items: center;
                width: 280px;
                height: 60px;
                & button {
                    font-size: $search-engine--options;
                }
                & .confirmButton {
                    text-align: center;
                    width: 50%;
                    border: 2px solid $primary-color--light-theme;
                    border-radius: 10px;
                    padding: 10px;
                    &:hover {
                        color: $base-color--light-theme;
                        background-color: $primary-color--light-theme;
                    }
                }
                & .cancelButton {
                    border: 2px solid $failure;
                    border-radius: 10px;
                    height: 100%;
                    margin-inline-start: 10px;
                    text-align: center;
                    width: 50%;
                    &:hover {
                        color: $base-color--light-theme;
                        background-color: $failure;
                    }
                }
            }
        }
        & .changingForm div{
            display: flex;
            flex-direction: column;
            text-align: center;
            & label {
                font-size: 2rem;
                font-weight: 500;
                margin-block-start: 10px;
                margin-block-end: 10px;
            }
            & input {
                font-size: 1.8rem;
                width: 270px;
                height: 40px;
                border-radius: 10px;
                border: 1px solid #111;
                padding: 4px;
            }
        }
    }
    & .changingModal {
        @extend .configModal;
        height: 44%;
    }
    & .changingModal--password {
        @extend .configModal;
        height: 54%;
    }
}

@media (min-width: 680px) {
    .profile-main {
        display: grid;
        max-width: 700px;
        margin: 0 auto;
        & .user {
            grid-area: userInfo;
            margin-block-start: 50px;
        }
        & .options {
            grid-area: optionLinks;
            margin-block-start: 70px;
        }
        & .progressBar-container {
            grid-area: watchedProgressBar;
            margin-block-start: 70px;
        }
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        grid-template-areas: "userInfo userInfo"
                             "optionLinks watchedProgressBar";
    }
    .modalBackground{
        & .modalConfig {
            width: 45%;
            height: 28%;
        }
    }
}
