@import "../../routes/App.scss";

.EmojiRating {
  &--add {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40px;
    left: -2px;
    &:hover {
      background-color: #d8d8d8;
      border-radius: 50%;
    }
    & img {
      width: 30px;
      height: 30px;
      padding-inline-end: 2px;
      padding-block-start: 2px;
    }
  }
  &--adding {
    width: 50px;
    height: 50px;
    background-color: $primary-color--light-theme;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: -2px;
    & img {
      width: 30px;
      height: 30px;
      padding-inline-end: 2px;
      padding-block-start: 2px;
    }
  }
}
.happy,
.neutral,
.sad {
  & img {
    padding: 0;
  }
}

.emojiRating__options {
  display: flex;
  flex-direction: column;
  background-color: $primary-color--light-theme;
  padding: 8px;
  border-radius: 24px;
  margin-block-start: 4px;
  position: absolute;
  top: 90px;
  left: 0px;
  z-index: 10;
  & button {
    margin: 5px 0;
    & img {
      width: 30px;
      height: 30px;
    }
    & .selectingActive {
      background-color: $base-color--light-theme;
      border-radius: 50%;
      &:active {
        height: 45px;
        width: 45px;
      }
    }
  }
}
