/* --- Login/Register Form --- */
$form--label: 1.5rem;
$login-button: 1.5rem;
$socialmedia-button: 0.9rem;

/* --- Profile-page --- */
//profile title | Settings 
$menu__title: 3rem;
$menu__font-size: 2.5rem;

/* --- Movie Card --- */
$card__title: 2rem;
$card__year: 1.2rem;
$card__description: 1rem;

/* --- Movie page --- */ 
$movie__title: 3.5rem;
$movie__year: 2.5rem;
$movie__description: 1.5rem;

/* --- Search-engine --- */
$search-engine__autocomplete: 1.8rem; // autocomplete, see more results

// Filter
$search-engine--function: 1.8rem; // Sort by | Order
$search-engine--options: 1.6rem; // year, title, watched | ascending, descending

