/* --- Light theme palette --- */
$primary-color--light-theme: #078BFF;
$secondary-color--light-theme: #76B9F5;
$base-color--light-theme: #F4F4F4;

$font-color--light-theme: #111111;

/* --- Alert palette --- */
//form
$success: #77AB07;
$failure: #C21D45;
//card
$movie__watched--active: #C22F80;
