@import '../../routes/App.scss';
 a{
  text-decoration: none;
  color: inherit;
 }
.searchContainer {
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-container {
  z-index: 3;
}
.filter-icon {
  margin: 5px 0;
  cursor: pointer;
  z-index: 4;
  position: fixed;
  top: 10px;
  left: calc(85% + 1rem);
  width: 35px;
  height: 35px;
  background: url(../../components/Filter/images/filter-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease-in-out .1s;
  border-radius: 50px;
  &:hover{
    outline: 2.5px solid rgba(230, 248, 255, 0.781);
  }
  &:active {
    width: 38px;
    height: 38px;
  }

}

.film-cards-container{
  display: grid;
  grid-template-columns: minmax(320px, 700px);
  margin: 10px;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
}

.autocomplete--items-anchor {
  text-decoration: none;
}

.autocomplete--items-anchor  {
  & h2{
    font-size: $card__title;
    color: $font-color--light-theme;
  }
  & h3{
    font-size: $card__year;
    color: $font-color--light-theme;
  }
  & p{
    font-size: $card__description;
    color: $font-color--light-theme;
  }
}