input[type="radio"]{
    display: none;
}

.star{
    cursor: pointer;
    transition: color 200ms;
}
@media (min-width: 375px) {
    .star-rating-component{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 4vh;
    }
    
}