@import '../../routes/App.scss';
@import '../../routes/css/Mixins/buttons.scss';

.twitter-button{
    @include SocialMediaButton--LightTheme;
    font-size: $socialmedia-button;
    font-weight: 600;
    display: block;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    min-width: 330px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: .3s ease all;
    position:relative;
    background: #0085FF;
    &:hover {
        background: #0071db;
    }
}

.twitter-icon {
    position: absolute;
    left: 10px;
    top: 7px;
    width: 24px;
    height: 24px;
}

